body{
    background-color: gray;
}

.cv{
    margin-top: 1%;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-right: 20%;
    background-color: #FFFFFF;
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

#relleno{
    background-color: white;
}

#lateral{
    background-color: #07401F;
    color: white;
    min-height: 100vh;
}

#foto{
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-top-right-radius: 20px;
}

.iconos{
    width: 25%;
    height: 25%;
}

#contacto{
    margin-top: 5%;
    margin-bottom: 5%;
}

.nombre-apellido{
    min-height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

p{
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 5%;
    text-align: justify;
}

#fin{
    margin-bottom: 25%;
}

.contenedor{
    display: flex;
}

#titulo{
    margin-bottom: -5%;
}

.estudio, .experiencia, .actualizaciones{
    color: #6D7571;
}

ul{
    margin-bottom: 10%;
}